<doctype html>
    <title>Inserir análise</title>
    <body style="font-family:Arial; font-size:20px;">
        <form action="insert_analise" method="post"> 
        <h5>Preencha os dados da análise</h5>
        <div class="form-group">
            <p><input class="form-control" type="text" name="especialidade" placeholder="Especialidade"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="number" name="num_cedula" placeholder="Número da cédula"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="number" name="num_doente" placeholder="Número do doente"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="datetime-local" step="1" name="dia_hora" placeholder="Data da consulta"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="text" name="nome" placeholder="Nome da análise"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="number" name="quant" placeholder="Quantidade" min="0"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="text" name="inst" placeholder="Nome da instituição"></p>
        </div>
        <div class="form-group">
            <p><input type="submit" value="Submit"></p>
        </div>
        </form>
    </body>
</doctype>