<doctype html>
    <title>Inserir médico</title>
    <body style="font-family:Arial; font-size:20px;">
        <form action="insert_medico" method="post"> 
        <h5>Preencha os dados do médico</h5>
        <div class="form-group">
            <p><input class="form-control" type="text" name="nome" placeholder="Nome"></p>
        </div>
        <div class="form-group">
            <p><input class="form-control" type="text" name="especialidade" placeholder="Especialidade"></p>
        </div>
        <div class="form-group">
            <p><input type="submit" value="Submit"></p>
        </div>
        </form>
    </body>
</doctype>